.area {
    color:rgb(13, 70, 43);
    display: block;
    
  }

  .btn{
    background-color:rgb(160, 248, 148);
    width: 90px;   
    height: 30px;
    border-radius: 7px;
    color:rgb(8, 43, 29);
    font-weight: bold;
    transition: .1s all;
   margin-bottom: 20px;
   margin-left: 90%;
  
  }
  .btn:hover{
    background-color:rgb(196, 245, 63);   
  }