.header {
    grid-area: h;
    background-color:rgb(16, 25, 146);
    padding: 0 20px;   
    border: 3px dashed gold;
    color: gold;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    }
    .h1{
        color: gold;
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 35px;     
    }