.nav {
  grid-area: n;
  background-color: gold;
  padding: 25px 25px;
  border: 3px dashed rgb(235, 238, 67);
  color:darkblue;
  display: block;
}
.item {
  color:darkblue;
  font-weight: 700;
  font-size: 20px;
  padding-top: 20px;
  text-decoration: none;
}
.active {
  color:rgb(110, 11, 41);
  font-weight: 700;
  font-size: 20px;
}
li{
  margin-bottom: 20px;
}
